@import url('./__container/popup__container.css');
@import url('./__title/popup__title.css');
@import url('./__field/popup__field.css');
@import url('./__field/_assign/popup__field_assign_name.css');
@import url('./__field/_assign/popup__field_assign_proffesion.css');

.popup {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}
