.edit-button {
  background: url('../../images/Edit_Button.svg') no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  align-self: center;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  transition: opacity .5s ease;
}

.edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .add-button {
  background-size: 7.5px;
  }
}
