.add-button {
  height: 50px;
  min-width: 150px;
  background: url('../../images/Add_Button.svg') no-repeat;
  background-position: center;
  background-size: 21px;
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 2px;
}

.add-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 570px) {
  .add-button {
  min-width: 282px;
  background-size: 16px;
  margin: 0 auto;
  }
}
