.submit-button {
  background: #000000;
  border-radius: 2px;
  color: #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  height: 50px;
  width: 358px;
  border: 0;
  padding: 0;
}

.submit-button:hover {
  opacity: .6;
  cursor: pointer;
}
